<%- include("partials/header2") -%>

  <div class="box" id="heading">
    <form action="/" method="post">
      <input type="text" class="h1" name="h1inp" autocomplete="off">
    </form>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%=  newListItems[i]  %></p>
      </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
      </form>
  </div>

<%- include("partials/footer2") -%>
