<%- include("partials/header2") -%>

<div class="box" id="custom">
    <form action="/todoList" method="post" class="NameForm">
        <input type="text" placeholder="Enter your name" autocomplete="off" name="name_inp">
        <button type="submit">ok</button>
    </form>
</div>

<%- include("partials/footer2") -%>